SharedLibs/WcfConnections/Service References/ClientWcfServiceReference/Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="RtuCommandDeliveredDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageProcessingResult" type="tns:MessageProcessingResult" />
      <xs:element minOccurs="0" name="RtuAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RtuCommandDeliveredDto" nillable="true" type="tns:RtuCommandDeliveredDto" />
  <xs:simpleType name="MessageProcessingResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UnknownMessage" />
      <xs:enumeration value="NothingToReturn" />
      <xs:enumeration value="ProcessedSuccessfully" />
      <xs:enumeration value="FailedToProcess" />
      <xs:enumeration value="TransmittedSuccessfully" />
      <xs:enumeration value="TransmittedSuccessfullyButRtuIsBusy" />
      <xs:enumeration value="FailedToTransmit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageProcessingResult" nillable="true" type="tns:MessageProcessingResult" />
  <xs:complexType name="RtuConnectionCheckedDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPingSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRtuInitialized" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRtuStarted" type="xs:boolean" />
      <xs:element minOccurs="0" name="RtuRtuId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RtuConnectionCheckedDto" nillable="true" type="tns:RtuConnectionCheckedDto" />
  <xs:complexType name="RtuInitializedDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullPortCount" type="xs:int" />
      <xs:element minOccurs="0" name="RtuId" type="ser:guid" />
      <xs:element minOccurs="0" name="IsInitialized" type="xs:boolean" />
      <xs:element minOccurs="0" name="OwnPortCount" type="xs:int" />
      <xs:element minOccurs="0" name="Serial" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RtuInitializedDto" nillable="true" type="tns:RtuInitializedDto" />
  <xs:complexType name="MonitoringStartedDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="RtuRtuId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitoringStartedDto" nillable="true" type="tns:MonitoringStartedDto" />
  <xs:complexType name="MonitoringStoppedDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="RtuRtuId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitoringStoppedDto" nillable="true" type="tns:MonitoringStoppedDto" />
  <xs:complexType name="MonitoringSettingsAppliedDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="RtuIpAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitoringSettingsAppliedDto" nillable="true" type="tns:MonitoringSettingsAppliedDto" />
  <xs:complexType name="BaseRefAssignedDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="OtauPortDto" nillable="true" type="tns:OtauPortDto" />
      <xs:element minOccurs="0" name="RtuIpAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseRefAssignedDto" nillable="true" type="tns:BaseRefAssignedDto" />
  <xs:complexType name="OtauPortDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpticalPort" type="xs:int" />
      <xs:element minOccurs="0" name="TcpPort" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OtauPortDto" nillable="true" type="tns:OtauPortDto" />
  <xs:complexType name="KnowRtuCurrentMonitoringStepDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseRefType" type="tns:BaseRefType" />
      <xs:element minOccurs="0" name="MonitoringStep" type="tns:RtuCurrentMonitoringStep" />
      <xs:element minOccurs="0" name="OtauPort" nillable="true" type="tns:OtauPortDto" />
      <xs:element minOccurs="0" name="RtuRtuId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KnowRtuCurrentMonitoringStepDto" nillable="true" type="tns:KnowRtuCurrentMonitoringStepDto" />
  <xs:simpleType name="BaseRefType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Precise" />
      <xs:enumeration value="Fast" />
      <xs:enumeration value="Additional" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BaseRefType" nillable="true" type="tns:BaseRefType" />
  <xs:simpleType name="RtuCurrentMonitoringStep">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RtuIdle" />
      <xs:enumeration value="Toggle" />
      <xs:enumeration value="Measure" />
      <xs:enumeration value="Interrupted" />
      <xs:enumeration value="Analysis" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RtuCurrentMonitoringStep" nillable="true" type="tns:RtuCurrentMonitoringStep" />
</xs:schema>