SharedLibs/WcfConnections/Service References/ClientWcfServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Dto" />
  <xs:element name="ConfirmDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="dto" nillable="true" type="q1:RtuCommandDeliveredDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmDeliveryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmRtuConnectionChecked">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="dto" nillable="true" type="q2:RtuConnectionCheckedDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmRtuConnectionCheckedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmRtuInitialized">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="rtu" nillable="true" type="q3:RtuInitializedDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmRtuInitializedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmMonitoringStarted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="confirm" nillable="true" type="q4:MonitoringStartedDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmMonitoringStartedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmMonitoringStopped">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="confirm" nillable="true" type="q5:MonitoringStoppedDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmMonitoringStoppedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmMonitoringSettingsApplied">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="confirm" nillable="true" type="q6:MonitoringSettingsAppliedDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmMonitoringSettingsAppliedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmBaseRefAssigned">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="confirm" nillable="true" type="q7:BaseRefAssignedDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmBaseRefAssignedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>