SharedLibs/WcfConnections/Service References/ClientWcfServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IClientWcfService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientWcfService_ConfirmDelivery_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmDelivery" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_ConfirmDelivery_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_ConfirmRtuConnectionChecked_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmRtuConnectionChecked" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_ConfirmRtuConnectionChecked_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmRtuConnectionCheckedResponse" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_ConfirmRtuInitialized_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmRtuInitialized" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_ConfirmRtuInitialized_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmRtuInitializedResponse" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_ConfirmMonitoringStarted_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmMonitoringStarted" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_ConfirmMonitoringStarted_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmMonitoringStartedResponse" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_ConfirmMonitoringStopped_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmMonitoringStopped" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_ConfirmMonitoringStopped_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmMonitoringStoppedResponse" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_ConfirmMonitoringSettingsApplied_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmMonitoringSettingsApplied" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_ConfirmMonitoringSettingsApplied_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmMonitoringSettingsAppliedResponse" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_ConfirmBaseRefAssigned_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmBaseRefAssigned" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_ConfirmBaseRefAssigned_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmBaseRefAssignedResponse" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_ProcessRtuCurrentMonitoringStep_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRtuCurrentMonitoringStep" />
  </wsdl:message>
  <wsdl:message name="IClientWcfService_ProcessRtuCurrentMonitoringStep_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRtuCurrentMonitoringStepResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientWcfService">
    <wsdl:operation name="ConfirmDelivery">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientWcfService/ConfirmDelivery" message="tns:IClientWcfService_ConfirmDelivery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientWcfService/ConfirmDeliveryResponse" message="tns:IClientWcfService_ConfirmDelivery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmRtuConnectionChecked">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientWcfService/ConfirmRtuConnectionChecked" message="tns:IClientWcfService_ConfirmRtuConnectionChecked_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientWcfService/ConfirmRtuConnectionCheckedResponse" message="tns:IClientWcfService_ConfirmRtuConnectionChecked_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmRtuInitialized">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientWcfService/ConfirmRtuInitialized" message="tns:IClientWcfService_ConfirmRtuInitialized_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientWcfService/ConfirmRtuInitializedResponse" message="tns:IClientWcfService_ConfirmRtuInitialized_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmMonitoringStarted">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientWcfService/ConfirmMonitoringStarted" message="tns:IClientWcfService_ConfirmMonitoringStarted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientWcfService/ConfirmMonitoringStartedResponse" message="tns:IClientWcfService_ConfirmMonitoringStarted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmMonitoringStopped">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientWcfService/ConfirmMonitoringStopped" message="tns:IClientWcfService_ConfirmMonitoringStopped_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientWcfService/ConfirmMonitoringStoppedResponse" message="tns:IClientWcfService_ConfirmMonitoringStopped_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmMonitoringSettingsApplied">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientWcfService/ConfirmMonitoringSettingsApplied" message="tns:IClientWcfService_ConfirmMonitoringSettingsApplied_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientWcfService/ConfirmMonitoringSettingsAppliedResponse" message="tns:IClientWcfService_ConfirmMonitoringSettingsApplied_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmBaseRefAssigned">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientWcfService/ConfirmBaseRefAssigned" message="tns:IClientWcfService_ConfirmBaseRefAssigned_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientWcfService/ConfirmBaseRefAssignedResponse" message="tns:IClientWcfService_ConfirmBaseRefAssigned_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessRtuCurrentMonitoringStep">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientWcfService/ProcessRtuCurrentMonitoringStep" message="tns:IClientWcfService_ProcessRtuCurrentMonitoringStep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientWcfService/ProcessRtuCurrentMonitoringStepResponse" message="tns:IClientWcfService_ProcessRtuCurrentMonitoringStep_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IClientWcfService" type="tns:IClientWcfService">
    <wsp:PolicyReference URI="#NetTcpBinding_IClientWcfService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ConfirmDelivery">
      <soap12:operation soapAction="http://tempuri.org/IClientWcfService/ConfirmDelivery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmRtuConnectionChecked">
      <soap12:operation soapAction="http://tempuri.org/IClientWcfService/ConfirmRtuConnectionChecked" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmRtuInitialized">
      <soap12:operation soapAction="http://tempuri.org/IClientWcfService/ConfirmRtuInitialized" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmMonitoringStarted">
      <soap12:operation soapAction="http://tempuri.org/IClientWcfService/ConfirmMonitoringStarted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmMonitoringStopped">
      <soap12:operation soapAction="http://tempuri.org/IClientWcfService/ConfirmMonitoringStopped" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmMonitoringSettingsApplied">
      <soap12:operation soapAction="http://tempuri.org/IClientWcfService/ConfirmMonitoringSettingsApplied" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmBaseRefAssigned">
      <soap12:operation soapAction="http://tempuri.org/IClientWcfService/ConfirmBaseRefAssigned" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessRtuCurrentMonitoringStep">
      <soap12:operation soapAction="http://tempuri.org/IClientWcfService/ProcessRtuCurrentMonitoringStep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientWcfService">
    <wsdl:port name="NetTcpBinding_IClientWcfService" binding="tns:NetTcpBinding_IClientWcfService">
      <soap12:address location="net.tcp://localhost:11843/ClientWcfService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:11843/ClientWcfService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>