RTU/RtuManagement/Service References/D4RWcfServiceReference/Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="RtuInitialized">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullPortCount" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsInitialized" type="xs:boolean" />
      <xs:element minOccurs="0" name="OwnPortCount" type="xs:int" />
      <xs:element minOccurs="0" name="Serial" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RtuInitialized" nillable="true" type="tns:RtuInitialized" />
</xs:schema>