SharedLibs/WcfConnections/Service References/C2DWcfServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Dto" />
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="dto" nillable="true" type="q1:RegisterClientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="dto" nillable="true" type="q2:UnRegisterClientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckServerConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="dto" nillable="true" type="q3:CheckServerConnectionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckServerConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckServerConnectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckRtuConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="rtuAddress" nillable="true" type="q4:CheckRtuConnectionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckRtuConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckRtuConnectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeRtu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="rtu" nillable="true" type="q5:InitializeRtuDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeRtuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitializeRtuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartMonitoring">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="dto" nillable="true" type="q6:StartMonitoringDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartMonitoringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartMonitoringResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopMonitoring">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="dto" nillable="true" type="q7:StopMonitoringDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopMonitoringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopMonitoringResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyMonitoringSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="settings" nillable="true" type="q8:ApplyMonitoringSettingsDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyMonitoringSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplyMonitoringSettingsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignBaseRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="baseRef" nillable="true" type="q9:AssignBaseRefDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignBaseRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignBaseRefResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>