Shared/WcfIntermediary/Service References/RtuWcfServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RtuWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IRtuWcfService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dto" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dto.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRtuWcfService_IsRtuInitialized_InputMessage">
    <wsdl:part name="parameters" element="tns:IsRtuInitialized" />
  </wsdl:message>
  <wsdl:message name="IRtuWcfService_IsRtuInitialized_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsRtuInitializedResponse" />
  </wsdl:message>
  <wsdl:message name="IRtuWcfService_Initialize_InputMessage">
    <wsdl:part name="parameters" element="tns:Initialize" />
  </wsdl:message>
  <wsdl:message name="IRtuWcfService_Initialize_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeResponse" />
  </wsdl:message>
  <wsdl:message name="IRtuWcfService_StartMonitoring_InputMessage">
    <wsdl:part name="parameters" element="tns:StartMonitoring" />
  </wsdl:message>
  <wsdl:message name="IRtuWcfService_StartMonitoring_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartMonitoringResponse" />
  </wsdl:message>
  <wsdl:message name="IRtuWcfService_StopMonitoring_InputMessage">
    <wsdl:part name="parameters" element="tns:StopMonitoring" />
  </wsdl:message>
  <wsdl:message name="IRtuWcfService_StopMonitoring_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopMonitoringResponse" />
  </wsdl:message>
  <wsdl:message name="IRtuWcfService_ApplyMonitoringSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyMonitoringSettings" />
  </wsdl:message>
  <wsdl:message name="IRtuWcfService_ApplyMonitoringSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyMonitoringSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IRtuWcfService_AssignBaseRef_InputMessage">
    <wsdl:part name="parameters" element="tns:AssignBaseRef" />
  </wsdl:message>
  <wsdl:message name="IRtuWcfService_AssignBaseRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssignBaseRefResponse" />
  </wsdl:message>
  <wsdl:message name="IRtuWcfService_ToggleToPort_InputMessage">
    <wsdl:part name="parameters" element="tns:ToggleToPort" />
  </wsdl:message>
  <wsdl:message name="IRtuWcfService_ToggleToPort_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToggleToPortResponse" />
  </wsdl:message>
  <wsdl:portType name="IRtuWcfService">
    <wsdl:operation name="IsRtuInitialized">
      <wsdl:input wsaw:Action="http://tempuri.org/IRtuWcfService/IsRtuInitialized" message="tns:IRtuWcfService_IsRtuInitialized_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRtuWcfService/IsRtuInitializedResponse" message="tns:IRtuWcfService_IsRtuInitialized_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Initialize">
      <wsdl:input wsaw:Action="http://tempuri.org/IRtuWcfService/Initialize" message="tns:IRtuWcfService_Initialize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRtuWcfService/InitializeResponse" message="tns:IRtuWcfService_Initialize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartMonitoring">
      <wsdl:input wsaw:Action="http://tempuri.org/IRtuWcfService/StartMonitoring" message="tns:IRtuWcfService_StartMonitoring_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRtuWcfService/StartMonitoringResponse" message="tns:IRtuWcfService_StartMonitoring_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopMonitoring">
      <wsdl:input wsaw:Action="http://tempuri.org/IRtuWcfService/StopMonitoring" message="tns:IRtuWcfService_StopMonitoring_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRtuWcfService/StopMonitoringResponse" message="tns:IRtuWcfService_StopMonitoring_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyMonitoringSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IRtuWcfService/ApplyMonitoringSettings" message="tns:IRtuWcfService_ApplyMonitoringSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRtuWcfService/ApplyMonitoringSettingsResponse" message="tns:IRtuWcfService_ApplyMonitoringSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssignBaseRef">
      <wsdl:input wsaw:Action="http://tempuri.org/IRtuWcfService/AssignBaseRef" message="tns:IRtuWcfService_AssignBaseRef_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRtuWcfService/AssignBaseRefResponse" message="tns:IRtuWcfService_AssignBaseRef_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ToggleToPort">
      <wsdl:input wsaw:Action="http://tempuri.org/IRtuWcfService/ToggleToPort" message="tns:IRtuWcfService_ToggleToPort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRtuWcfService/ToggleToPortResponse" message="tns:IRtuWcfService_ToggleToPort_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IRtuWcfService" type="tns:IRtuWcfService">
    <wsp:PolicyReference URI="#NetTcpBinding_IRtuWcfService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="IsRtuInitialized">
      <soap12:operation soapAction="http://tempuri.org/IRtuWcfService/IsRtuInitialized" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Initialize">
      <soap12:operation soapAction="http://tempuri.org/IRtuWcfService/Initialize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartMonitoring">
      <soap12:operation soapAction="http://tempuri.org/IRtuWcfService/StartMonitoring" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopMonitoring">
      <soap12:operation soapAction="http://tempuri.org/IRtuWcfService/StopMonitoring" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyMonitoringSettings">
      <soap12:operation soapAction="http://tempuri.org/IRtuWcfService/ApplyMonitoringSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignBaseRef">
      <soap12:operation soapAction="http://tempuri.org/IRtuWcfService/AssignBaseRef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToggleToPort">
      <soap12:operation soapAction="http://tempuri.org/IRtuWcfService/ToggleToPort" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RtuWcfService">
    <wsdl:port name="NetTcpBinding_IRtuWcfService" binding="tns:NetTcpBinding_IRtuWcfService">
      <soap12:address location="net.tcp://localhost:11842/RtuWcfService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:11842/RtuWcfService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>