RTU/RtuService/Service References/D4RWcfServiceReference/D4R_WcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/D4R_WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/D4R_WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="RtuInitializationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullPortCount" type="xs:int" />
      <xs:element minOccurs="0" name="IsInitialized" type="xs:boolean" />
      <xs:element minOccurs="0" name="OwnPortCount" type="xs:int" />
      <xs:element minOccurs="0" name="RtuId" type="ser:guid" />
      <xs:element minOccurs="0" name="Serial" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RtuInitializationResult" nillable="true" type="tns:RtuInitializationResult" />
  <xs:complexType name="MonitoringResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="RtuId" type="ser:guid" />
      <xs:element minOccurs="0" name="SorData" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitoringResult" nillable="true" type="tns:MonitoringResult" />
</xs:schema>