RTU/RtuManagement/Service References/WcfForRtuServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Dto" />
  <xs:element name="ProcessRtuInitialized">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="result" nillable="true" type="q1:RtuInitializedDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessRtuInitializedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessRtuInitializedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmStartMonitoring">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="result" nillable="true" type="q2:MonitoringStartedDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmStartMonitoringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmStartMonitoringResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmStopMonitoring">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="result" nillable="true" type="q3:MonitoringStoppedDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmStopMonitoringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmStopMonitoringResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMonitoringResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="result" nillable="true" type="q4:MonitoringResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMonitoringResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessMonitoringResultResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmMonitoringSettingsApplied">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="result" nillable="true" type="q5:MonitoringSettingsAppliedDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmMonitoringSettingsAppliedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmMonitoringSettingsAppliedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>