RTU/RtuManagement/Service References/WcfForRtuServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfServiceForRtu" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWcfServiceForRtu_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dto" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dto.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfServiceForRtu_ProcessRtuInitialized_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRtuInitialized" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForRtu_ProcessRtuInitialized_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRtuInitializedResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForRtu_ConfirmStartMonitoring_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmStartMonitoring" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForRtu_ConfirmStartMonitoring_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmStartMonitoringResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForRtu_ConfirmStopMonitoring_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmStopMonitoring" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForRtu_ConfirmStopMonitoring_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmStopMonitoringResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForRtu_ProcessMonitoringResult_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessMonitoringResult" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForRtu_ProcessMonitoringResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessMonitoringResultResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForRtu_ConfirmMonitoringSettingsApplied_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmMonitoringSettingsApplied" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForRtu_ConfirmMonitoringSettingsApplied_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmMonitoringSettingsAppliedResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForRtu_ConfirmBaseRefAssigned_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmBaseRefAssigned" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForRtu_ConfirmBaseRefAssigned_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmBaseRefAssignedResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfServiceForRtu">
    <wsdl:operation name="ProcessRtuInitialized">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfServiceForRtu/ProcessRtuInitialized" message="tns:IWcfServiceForRtu_ProcessRtuInitialized_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfServiceForRtu/ProcessRtuInitializedResponse" message="tns:IWcfServiceForRtu_ProcessRtuInitialized_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmStartMonitoring">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfServiceForRtu/ConfirmStartMonitoring" message="tns:IWcfServiceForRtu_ConfirmStartMonitoring_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfServiceForRtu/ConfirmStartMonitoringResponse" message="tns:IWcfServiceForRtu_ConfirmStartMonitoring_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmStopMonitoring">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfServiceForRtu/ConfirmStopMonitoring" message="tns:IWcfServiceForRtu_ConfirmStopMonitoring_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfServiceForRtu/ConfirmStopMonitoringResponse" message="tns:IWcfServiceForRtu_ConfirmStopMonitoring_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessMonitoringResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfServiceForRtu/ProcessMonitoringResult" message="tns:IWcfServiceForRtu_ProcessMonitoringResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfServiceForRtu/ProcessMonitoringResultResponse" message="tns:IWcfServiceForRtu_ProcessMonitoringResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmMonitoringSettingsApplied">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfServiceForRtu/ConfirmMonitoringSettingsApplied" message="tns:IWcfServiceForRtu_ConfirmMonitoringSettingsApplied_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfServiceForRtu/ConfirmMonitoringSettingsAppliedResponse" message="tns:IWcfServiceForRtu_ConfirmMonitoringSettingsApplied_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmBaseRefAssigned">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfServiceForRtu/ConfirmBaseRefAssigned" message="tns:IWcfServiceForRtu_ConfirmBaseRefAssigned_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfServiceForRtu/ConfirmBaseRefAssignedResponse" message="tns:IWcfServiceForRtu_ConfirmBaseRefAssigned_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IWcfServiceForRtu" type="tns:IWcfServiceForRtu">
    <wsp:PolicyReference URI="#NetTcpBinding_IWcfServiceForRtu_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ProcessRtuInitialized">
      <soap12:operation soapAction="http://tempuri.org/IWcfServiceForRtu/ProcessRtuInitialized" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmStartMonitoring">
      <soap12:operation soapAction="http://tempuri.org/IWcfServiceForRtu/ConfirmStartMonitoring" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmStopMonitoring">
      <soap12:operation soapAction="http://tempuri.org/IWcfServiceForRtu/ConfirmStopMonitoring" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessMonitoringResult">
      <soap12:operation soapAction="http://tempuri.org/IWcfServiceForRtu/ProcessMonitoringResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmMonitoringSettingsApplied">
      <soap12:operation soapAction="http://tempuri.org/IWcfServiceForRtu/ConfirmMonitoringSettingsApplied" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmBaseRefAssigned">
      <soap12:operation soapAction="http://tempuri.org/IWcfServiceForRtu/ConfirmBaseRefAssigned" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfServiceForRtu">
    <wsdl:port name="NetTcpBinding_IWcfServiceForRtu" binding="tns:NetTcpBinding_IWcfServiceForRtu">
      <soap12:address location="net.tcp://localhost:11841/WcfServiceForRtu/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:11841/WcfServiceForRtu/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>