Client/WcfTestBench/Service References/WcfForClientServiceReference/Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CheckRtuConnectionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ip4Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAddressSetAsIp" type="xs:boolean" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckRtuConnectionDto" nillable="true" type="tns:CheckRtuConnectionDto" />
  <xs:complexType name="InitializeRtuDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataCenterIpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="RtuIpAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InitializeRtuDto" nillable="true" type="tns:InitializeRtuDto" />
</xs:schema>