Client/WcfTestBench/Service References/WcfForClientServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfServiceForClient" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWcfServiceForClient_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dto" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dto.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfServiceForClient_RegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClient" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForClient_RegisterClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClientResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForClient_UnRegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterClient" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForClient_UnRegisterClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterClientResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForClient_CheckRtuConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckRtuConnection" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForClient_CheckRtuConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckRtuConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForClient_InitializeRtu_InputMessage">
    <wsdl:part name="parameters" element="tns:InitializeRtu" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForClient_InitializeRtu_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeRtuResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForClient_StartMonitoring_InputMessage">
    <wsdl:part name="parameters" element="tns:StartMonitoring" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForClient_StartMonitoring_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartMonitoringResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForClient_StopMonitoring_InputMessage">
    <wsdl:part name="parameters" element="tns:StopMonitoring" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForClient_StopMonitoring_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopMonitoringResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForClient_ApplyMonitoringSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyMonitoringSettings" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForClient_ApplyMonitoringSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyMonitoringSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForClient_AssignBaseRef_InputMessage">
    <wsdl:part name="parameters" element="tns:AssignBaseRef" />
  </wsdl:message>
  <wsdl:message name="IWcfServiceForClient_AssignBaseRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssignBaseRefResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfServiceForClient">
    <wsdl:operation name="RegisterClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfServiceForClient/RegisterClient" message="tns:IWcfServiceForClient_RegisterClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfServiceForClient/RegisterClientResponse" message="tns:IWcfServiceForClient_RegisterClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnRegisterClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfServiceForClient/UnRegisterClient" message="tns:IWcfServiceForClient_UnRegisterClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfServiceForClient/UnRegisterClientResponse" message="tns:IWcfServiceForClient_UnRegisterClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckRtuConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfServiceForClient/CheckRtuConnection" message="tns:IWcfServiceForClient_CheckRtuConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfServiceForClient/CheckRtuConnectionResponse" message="tns:IWcfServiceForClient_CheckRtuConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitializeRtu">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfServiceForClient/InitializeRtu" message="tns:IWcfServiceForClient_InitializeRtu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfServiceForClient/InitializeRtuResponse" message="tns:IWcfServiceForClient_InitializeRtu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartMonitoring">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfServiceForClient/StartMonitoring" message="tns:IWcfServiceForClient_StartMonitoring_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfServiceForClient/StartMonitoringResponse" message="tns:IWcfServiceForClient_StartMonitoring_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopMonitoring">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfServiceForClient/StopMonitoring" message="tns:IWcfServiceForClient_StopMonitoring_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfServiceForClient/StopMonitoringResponse" message="tns:IWcfServiceForClient_StopMonitoring_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyMonitoringSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfServiceForClient/ApplyMonitoringSettings" message="tns:IWcfServiceForClient_ApplyMonitoringSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfServiceForClient/ApplyMonitoringSettingsResponse" message="tns:IWcfServiceForClient_ApplyMonitoringSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssignBaseRef">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfServiceForClient/AssignBaseRef" message="tns:IWcfServiceForClient_AssignBaseRef_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfServiceForClient/AssignBaseRefResponse" message="tns:IWcfServiceForClient_AssignBaseRef_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IWcfServiceForClient" type="tns:IWcfServiceForClient">
    <wsp:PolicyReference URI="#NetTcpBinding_IWcfServiceForClient_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterClient">
      <soap12:operation soapAction="http://tempuri.org/IWcfServiceForClient/RegisterClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnRegisterClient">
      <soap12:operation soapAction="http://tempuri.org/IWcfServiceForClient/UnRegisterClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRtuConnection">
      <soap12:operation soapAction="http://tempuri.org/IWcfServiceForClient/CheckRtuConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitializeRtu">
      <soap12:operation soapAction="http://tempuri.org/IWcfServiceForClient/InitializeRtu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartMonitoring">
      <soap12:operation soapAction="http://tempuri.org/IWcfServiceForClient/StartMonitoring" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopMonitoring">
      <soap12:operation soapAction="http://tempuri.org/IWcfServiceForClient/StopMonitoring" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyMonitoringSettings">
      <soap12:operation soapAction="http://tempuri.org/IWcfServiceForClient/ApplyMonitoringSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignBaseRef">
      <soap12:operation soapAction="http://tempuri.org/IWcfServiceForClient/AssignBaseRef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfServiceForClient">
    <wsdl:port name="NetTcpBinding_IWcfServiceForClient" binding="tns:NetTcpBinding_IWcfServiceForClient">
      <soap12:address location="net.tcp://localhost:11840/WcfServiceForClient/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:11840/WcfServiceForClient/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>