SharedLibs/WcfConnections/Service References/R2DWcfServiceReference/Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="RtuConnectionCheckedDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPingSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRtuInitialized" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRtuStarted" type="xs:boolean" />
      <xs:element minOccurs="0" name="RtuId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RtuConnectionCheckedDto" nillable="true" type="tns:RtuConnectionCheckedDto" />
  <xs:complexType name="RtuInitializedDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullPortCount" type="xs:int" />
      <xs:element minOccurs="0" name="IsInitialized" type="xs:boolean" />
      <xs:element minOccurs="0" name="OwnPortCount" type="xs:int" />
      <xs:element minOccurs="0" name="RtuId" type="ser:guid" />
      <xs:element minOccurs="0" name="Serial" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RtuInitializedDto" nillable="true" type="tns:RtuInitializedDto" />
  <xs:complexType name="MonitoringStartedDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="RtuId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitoringStartedDto" nillable="true" type="tns:MonitoringStartedDto" />
  <xs:complexType name="MonitoringStoppedDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="RtuId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitoringStoppedDto" nillable="true" type="tns:MonitoringStoppedDto" />
  <xs:complexType name="MonitoringSettingsAppliedDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="RtuId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitoringSettingsAppliedDto" nillable="true" type="tns:MonitoringSettingsAppliedDto" />
  <xs:complexType name="BaseRefAssignedDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="OtauPortDto" nillable="true" type="tns:OtauPortDto" />
      <xs:element minOccurs="0" name="RtuId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseRefAssignedDto" nillable="true" type="tns:BaseRefAssignedDto" />
  <xs:complexType name="OtauPortDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPortOnMainCharon" type="xs:boolean" />
      <xs:element minOccurs="0" name="OpticalPort" type="xs:int" />
      <xs:element minOccurs="0" name="TcpPort" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OtauPortDto" nillable="true" type="tns:OtauPortDto" />
  <xs:complexType name="KnowRtuCurrentMonitoringStepDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseRefType" type="tns:BaseRefType" />
      <xs:element minOccurs="0" name="MonitoringStep" type="tns:RtuCurrentMonitoringStep" />
      <xs:element minOccurs="0" name="OtauPort" nillable="true" type="tns:OtauPortDto" />
      <xs:element minOccurs="0" name="RtuId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KnowRtuCurrentMonitoringStepDto" nillable="true" type="tns:KnowRtuCurrentMonitoringStepDto" />
  <xs:simpleType name="BaseRefType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Precise" />
      <xs:enumeration value="Fast" />
      <xs:enumeration value="Additional" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BaseRefType" nillable="true" type="tns:BaseRefType" />
  <xs:simpleType name="RtuCurrentMonitoringStep">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Idle" />
      <xs:enumeration value="Toggle" />
      <xs:enumeration value="Measure" />
      <xs:enumeration value="Interrupted" />
      <xs:enumeration value="Analysis" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RtuCurrentMonitoringStep" nillable="true" type="tns:RtuCurrentMonitoringStep" />
  <xs:complexType name="RtuChecksChannelDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsMainChannel" type="xs:boolean" />
      <xs:element minOccurs="0" name="RtuId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RtuChecksChannelDto" nillable="true" type="tns:RtuChecksChannelDto" />
  <xs:complexType name="MonitoringResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseRefType" type="tns:BaseRefType" />
      <xs:element minOccurs="0" name="OtauPort" nillable="true" type="tns:OtauPortDto" />
      <xs:element minOccurs="0" name="RtuId" type="ser:guid" />
      <xs:element minOccurs="0" name="SorData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TraceState" type="tns:FiberState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitoringResultDto" nillable="true" type="tns:MonitoringResultDto" />
  <xs:simpleType name="FiberState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotInTrace" />
      <xs:enumeration value="NotJoined" />
      <xs:enumeration value="NotChecked" />
      <xs:enumeration value="Ok">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Suspect">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Minor">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Major">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Critical">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="User">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FiberBreak">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NoFiber">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HighLighted">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">14</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DistanceMeasurement">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">15</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FiberState" nillable="true" type="tns:FiberState" />
</xs:schema>