RtuWpfExample/Service References/D4CWcfServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="D4CWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ID4CWcfService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ID4CWcfService_RegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClient" />
  </wsdl:message>
  <wsdl:message name="ID4CWcfService_RegisterClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClientResponse" />
  </wsdl:message>
  <wsdl:message name="ID4CWcfService_UnRegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterClient" />
  </wsdl:message>
  <wsdl:message name="ID4CWcfService_UnRegisterClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterClientResponse" />
  </wsdl:message>
  <wsdl:message name="ID4CWcfService_InitializeRtu_InputMessage">
    <wsdl:part name="parameters" element="tns:InitializeRtu" />
  </wsdl:message>
  <wsdl:message name="ID4CWcfService_InitializeRtu_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeRtuResponse" />
  </wsdl:message>
  <wsdl:portType name="ID4CWcfService">
    <wsdl:operation name="RegisterClient">
      <wsdl:input wsaw:Action="http://tempuri.org/ID4CWcfService/RegisterClient" message="tns:ID4CWcfService_RegisterClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ID4CWcfService/RegisterClientResponse" message="tns:ID4CWcfService_RegisterClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnRegisterClient">
      <wsdl:input wsaw:Action="http://tempuri.org/ID4CWcfService/UnRegisterClient" message="tns:ID4CWcfService_UnRegisterClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ID4CWcfService/UnRegisterClientResponse" message="tns:ID4CWcfService_UnRegisterClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitializeRtu">
      <wsdl:input wsaw:Action="http://tempuri.org/ID4CWcfService/InitializeRtu" message="tns:ID4CWcfService_InitializeRtu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ID4CWcfService/InitializeRtuResponse" message="tns:ID4CWcfService_InitializeRtu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ID4CWcfService" type="tns:ID4CWcfService">
    <wsp:PolicyReference URI="#NetTcpBinding_ID4CWcfService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterClient">
      <soap12:operation soapAction="http://tempuri.org/ID4CWcfService/RegisterClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnRegisterClient">
      <soap12:operation soapAction="http://tempuri.org/ID4CWcfService/UnRegisterClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitializeRtu">
      <soap12:operation soapAction="http://tempuri.org/ID4CWcfService/InitializeRtu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="D4CWcfService">
    <wsdl:port name="NetTcpBinding_ID4CWcfService" binding="tns:NetTcpBinding_ID4CWcfService">
      <soap12:address location="net.tcp://localhost:11840/D4CWcfService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:11840/D4CWcfService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>