RtuWpfExample/Service References/D4RWcfServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="D4RWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ID4RWcfService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/D4R_WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ID4RWcfService_ConfirmInitilization_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmInitilization" />
  </wsdl:message>
  <wsdl:message name="ID4RWcfService_ConfirmInitilization_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmInitilizationResponse" />
  </wsdl:message>
  <wsdl:message name="ID4RWcfService_SendMonitoringResult_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMonitoringResult" />
  </wsdl:message>
  <wsdl:message name="ID4RWcfService_SendMonitoringResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMonitoringResultResponse" />
  </wsdl:message>
  <wsdl:portType name="ID4RWcfService">
    <wsdl:operation name="ConfirmInitilization">
      <wsdl:input wsaw:Action="http://tempuri.org/ID4RWcfService/ConfirmInitilization" message="tns:ID4RWcfService_ConfirmInitilization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ID4RWcfService/ConfirmInitilizationResponse" message="tns:ID4RWcfService_ConfirmInitilization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMonitoringResult">
      <wsdl:input wsaw:Action="http://tempuri.org/ID4RWcfService/SendMonitoringResult" message="tns:ID4RWcfService_SendMonitoringResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ID4RWcfService/SendMonitoringResultResponse" message="tns:ID4RWcfService_SendMonitoringResult_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ID4RWcfService" type="tns:ID4RWcfService">
    <wsp:PolicyReference URI="#NetTcpBinding_ID4RWcfService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ConfirmInitilization">
      <soap12:operation soapAction="http://tempuri.org/ID4RWcfService/ConfirmInitilization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMonitoringResult">
      <soap12:operation soapAction="http://tempuri.org/ID4RWcfService/SendMonitoringResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="D4RWcfService">
    <wsdl:port name="NetTcpBinding_ID4RWcfService" binding="tns:NetTcpBinding_ID4RWcfService">
      <soap12:address location="net.tcp://localhost:11841/D4RWcfService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:11841/D4RWcfService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>